@use '../base/custom' as *;
@use '../abstracts/mixins' as *;

.students_feedbacks {
  li::before {
    content: none;
  }

  .feedback_ratings {
    @include media-breakpoint-between (xs, md) {
      text-align: center ;
    }
  }

  .firstClass {
    font-size: 144px;
    font-weight: 700;
  }

  .newRatings {
    color: $orange;
    &_*+* {
      margin-left: 1rem;
    }
  }

  .progress {
    width: 250px;
    height: 15px;
    margin-inline: 15px;
    background: white;
  }
}


.image_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  
  border: 1px solid $black;
  border-radius: 50%;
}
.image {
  width: 130px;
  height: 130px;
  background-color: $primary;
  border-radius: 50%;
}