@use '../base/custom' as *;
@use '../abstracts/mixins' as *;

.students_feedbacks {
  li::before {
    content: none;
  }

  .feedback_ratings {
    @include media-breakpoint-between (xs, md) {
      text-align: center ;
    }
    width: fit-content !important;
  }

  .firstClass {
    font-size: 144px;
    font-weight: 700;
  }

  .newRatings {
    color: $orange;
    &_*+* {
      margin-left: 1rem;
    }
  }

  .progress {
    width: 250px;
    height: 15px;
    margin-inline: 15px;
    background: white;
  }
}


.image_container {
  @include dFlex;
  width: 150px;
  height: 150px;
  border: 1px solid $black;
  border-radius: 50%;
}
.image {
  width: 130px;
  height: 130px;
  background-color: $primary;
  border-radius: 50%;
}

.testimony {
  @include media-breakpoint-up (md) {
    border-right: 1px solid #3C3C3C;
  }
}